/* Custom Stylesheet */


/* Custom colors   */

.bg-blue-grey {
  background: #2A324B;
}

.blue-grey-text {
  color: #2A324B;
}

.blue-text-ci {
  color: #145C9E;
}

a {
  color: #145C9E;
}

a:hover {
  color: #F9A03F;
}



  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 16px;
  }

  main {
    flex: 1 0 auto;
  }


.parallax-container {
  background-size: cover;
}



h1, h4, h5 {
  font-weight: 100;
  letter-spacing: 1px;
  line-height: normal;
}

h1 {
    color: #145C9E;
    font-size: 2.2em;
}





@media (max-width: 784px) {

    h1 {
        font-size: 2.2em;
    }


}

/* Frontpage  */

#index-banner {
  padding: 40px 40px;
  background: url('../images/header-bg.jpg');
  background-size: cover;

}

.intro {
  padding:  120px 40px;
}



.newsletter {
  padding-top: 80px;
  max-height: 360px;
  background: url('../images/header-bg.jpg');
  background-size: cover;
  margin: 0;

}


.section-top {
  padding: 0;
}


.services {
  padding:  120px 20px ;
}

.icon-block {
  border: 0px solid #333;
}

.icon-float {
  border: 0px solid #333;
  float: left;
  margin-top: 0px;
  margin-left: -48px;
  }


.icon-block h5 {
  border: 0px solid #333;
  vertical-align:middle;
}


nav {
  z-index: 9999;
  display: none;
}


.top-nav li, .side-nav li{
  font-weight: 300;
  letter-spacing: 1px;
}


#textarea-contact {
  min-height: 400px;
}


.page {
  text-align: justify;
  padding-top: 20px;
}



ul li {
  list-style: square;
  margin: 12px 0 12px 24px;
}

footer ul li {
  list-style: none;
  margin: 0;
}

footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #2A324B;
}
