/* Custom Stylesheet */


/* Custom colors   */

.bg-blue-grey {
  background: #78ACB8;
}

.blue-grey-text {
  color: #78ACB8;
}

.blue-text-ci {
  color: #1998D1;
}



  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 16px;
  }

  main {
    flex: 1 0 auto;
  }
      

.parallax-container {
  background-size: cover;
}



h1, h4, h5 {
  font-weight: 100;
  letter-spacing: 1px;
  line-height: normal;
}

h1 {
    color: #00A9E0;
}

h1.index {
text-shadow: -1px 1px 1px rgba(0,0,0,0.4);
}

h5.index {
text-shadow: -1px 1px 1px rgba(0,0,0,0.2);
}


@media (max-width: 784px) {
    
    h1 {
        font-size: 2.4em;
    }


}

/* Frontpage  */

#index-banner {
  padding: 40px 40px;
  background: url('../images/bg-top.jpg');
  background-size: cover;

}

.intro {
  padding:  120px 40px;
}



.newsletter {
  padding-top: 80px;
  max-height: 360px;
  background: url('../images/bg-medium.jpg');
  background-size: cover;
  margin: 0;

}


.section-top {
  padding: 0;
}


.services {
  padding:  120px 20px ;
}

.icon-block {
  border: 0px solid #333;
}

.icon-float {
  border: 0px solid #333;
  float: left;
  margin-top: 0px;
  margin-left: -48px;
  }


.icon-block h5 {
  border: 0px solid #333;
  vertical-align:middle;
}


nav {
  z-index: 9999;
  display: none;
}


.top-nav li, .side-nav li{
  font-weight: 300;
  letter-spacing: 1px;
}


#textarea-contact {
  min-height: 400px;
}


.page {
  text-align: justify;
  padding-top: 20px;
}



ul li {
  list-style: square;
  margin: 12px 0 12px 24px;
}

footer ul li {
  list-style: none;
  margin: 0;
}