 <footer class="page-footer bg-blue-gray">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Cryptonomex was founded by the developers behind BitShares and has developers with 15 years of C++ experience and are heavily experienced with the latest C++11 and web standards. </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright bg-blue-grey">
      <div class="container center">
      <a class="white-text text-lighten-3" href="#"><img style="height: 24px;margin: 14px 0 0 0;" src="../images/logo-icon.svg" alt="" /> </a>
      </div>
    </div>
  </footer>
