 <footer class="page-footer bg-blue-gray">
    <div class="container">
      <div class="row">
        <div class="col l9 s12">

          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">
          Cryptonomex Inc. is an independent blockchain development company founded by the core developers of the
          <a href="https://bitshares.org/">BitShares</a> blockchain.
          Our mission is to faciliate the growth and adoption of industrial blockchain technology.
          </p>

        </div>

        <div class="col l3 s12">
          <h5 class="white-text">Resources</h5>
          <ul>
            <li><a class="white-text" href="/contact/">Contact Us</a></li>
            <li><a class="white-text" href="/jobs/">Jobs</a></li>
            <li><a class="white-test" href="http://github.com/cryptonomex">Github</a></li>
            <li><a class="white-test" href="http://www.facebook.com/cryptonomex">Facebook</a></a></li>
            <li><a class="white-test" href="http://twitter.com/cryptonomex">Twitter</a></li>
            <li><a class="white-text" href="/privacy/">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright bg-blue-grey">
      <div class="container center">
      <a class="white-text text-lighten-3" href="/"><img style="height: 24px;margin: 14px 0 0 0;" src="../images/logo-icon.svg" alt="" /> </a>
      </div>
    </div>
  </footer>
