<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img style="margin: 12px 0 0 0; height: 24px;" src="/images/logo-icon.svg" alt="" /></a>
      <ul class="right hide-on-med-and-down top-nav">
        <li><a  class="blue-grey-text" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">about</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse blue-grey-text text-lighten-4"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
