---
layout: default
---

<div class="page" style="max-width: 800px; margin: 0 auto;">
<center>
<a id="logo-container" href="/" class="brand-logo center"><img style="margin: 12px 0 0 0; height: 24px;" src="/images/logo-icon.svg" alt="" /></a>
</center>
    <header class="post-header">
        <center>
            <h1 class="post-title">{{ page.title }}</h1>
        </center>
    </header>

    <article class="light post-content page {{ page.layout }}">
        {{ content }}
    </article>

</div>
