---
layout: default
---
<div class="post">





  <div class="row">
    <header class="post-header">
      <div id="introduction" class="section scrollspy">
        <p><h1 class="post-title">{{ page.title }}</h1> </p>
          <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
           </header>
      </div>

       <article class="post-content">
        {{ content }}
       </article>
  

     
  
  </div>